@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.navigation {
  background-color: #121212;
}

.footer {
  background-color: #43B697;
}

.mesh-icon {
  width: 50%;
  height: 50%;
}

body {
  background-color: #121212;
}

.latest-events {
  background-color: #282828;
  border-top: solid 0.5px #43B697 ;
  border-bottom: solid 0.5px #43B697 ;
}

/* .archive-pictures {
  width: 346px;
  height: 346px;
  padding: 10px; 
}*/

.line {
  height: 0.25rem;
  background: #E58394;
  margin-bottom: 0.75rem;
}

.banner {
  background: #E58394;
}

.aspect-square {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.aspect-square-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.button-color {
  background-color: #43B697;
}

.input-border {
  border-color: #43B697;
}

.page-reference-color {
  color: #43B697;
}

/* Headshot styling for About Us */
.headshot {
  float: left;
  width: 40%;
}

/* Member info for About Us */
.member-info {
  float: right;
  width: 50%;
}

/* About Us FAQs Wrapper */
.wrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.left-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 45%
}

.right-wrapper {
  display: flex;
  width: 100vw;
  justify-content: end;
  align-items: center;
  width: 45%
}

/* About Us FAQs Accordian */
.accordian {
  width: 500px;
}

/* About Us FAQs Title */
.title {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* About Us FAQs Answer Hidden */
.content {
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

/* About Us FAQs Answer Shown */
.content-show {
  color: black;
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

/* About Us FAQs Pink Styling */
.item {
  background: #E58394;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-radius: 10px;
}