@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.navigation {
  background-color: #121212;
}

.footer {
  background-color: #43B697;
}

.mesh-icon {
  width: 50%;
  height: 50%;
}

body {
  background-color: #121212;
}

.latest-events {
  background-color: #282828;
  border-top: solid 0.5px #43B697 ;
  border-bottom: solid 0.5px #43B697 ;
}

/* .archive-pictures {
  width: 346px;
  height: 346px;
  padding: 10px; 
}*/

.line {
  height: 0.25rem;
  background: #E58394;
  margin-bottom: 0.75rem;
}

.banner {
  background: #E58394;
}
